/*================== Colors ================*/
:root {
    --background-color-1: #F7CAE2; /*backgoround svg*/
    --background-color-2: #FAE4F0; /*item color*/
    --background-color-3: #000000; /*font*/
    --background-color-4: #226043;
    --color-1: #f75078;
    --text-color-1: #8c3854;
    --text-color-1-strong: #63263a;
}
  
  /*================== Resets ================*/
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  #landing{
      display: flex;
      flex-direction: column;
      background-image: url(./assets/Vector.svg);
      background-size: contain;
      background-repeat: repeat-y;
  }
  
  /*================== Clases Aux ================*/
  .font-dancing {
    font-family: "Dancing Script", cursive;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
  .page-padding {
    padding: 3rem;
  }
  
  /*================== Mobile ================*/
  @media (max-width: 375px) {

    /*================== Items Container================*/
    #itemsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: poppins;
    }
    .itemsContainer__item{
        display: flex;
        flex-direction: column; 
        margin: .5rem;
        background-color: var(--background-color-2);
        border-radius: 5px;
        box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 160px;
    }
    .itemsContainer__item--head{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .itemsContainer__item--head--img{
        width: 130px;
        object-fit: contain;
        /* padding: .5rem; */
        border-radius: 5px;
    }
    .itemsContainer__item--body{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 1rem 1rem;
    }
    .itemsContainer__item--body--text-title{
        font-size: .8em;
        color:#425466;
    }
    .itemsContainer__item--body--icon{
        display: flex;
        padding: .5rem;
        background-color: #ffffff;
        align-self: center;
        border-radius: 50%;
    }
    .itemsContainer__item--body--icon > i  {
        text-align: center;
    }

    

    /*================== Footer ================*/
    /* common */
    .footer {
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-2);
      color: #000000;
      align-items: center;
      text-align: center;
    }
    .footer__title,
    .footer__text{
      margin-bottom: 1.5rem;
    }
    .footer__linkContainer,
    .footer__iconContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
    }
    /* steped */
    .footer__title {
      font-weight: bold;
      font-size: 1.5em;
      width: 100%;
    }
    .footer__text {
      color: #000000;
      font-weight: normal;
      font-size: 1em;
      line-height: 24px;
      letter-spacing: -0.231818px;
      opacity: 0.5;
    }
    .footer__linkContainer {
      margin-bottom: 2rem;
      justify-content: space-around;
    }
    .linkContainer__link {
      text-decoration: none;
      color: #000000;
      margin: 1rem .5rem;
      font-size: 0.9em;
      font-weight: 300;
    }
    .iconContainer__icon {
      color: #000000;
      font-size: 1.2rem;
    }
    /*================== Form & map ================*/
      #contacto {
          display: flex;
          flex-direction: column;
          justify-content: center;
      }  
      form {
      width: 90%;
      margin: auto;
      background: white;
      border: 2.5px solid hsla(330, 75%, 62%, 0.384);
      padding: 1rem;
      margin-bottom: 2.5rem;
      border-radius: 5px;
      }
      form .form__title {
          text-align: center;
          margin: 0;
          font-size: 1.2em;
          margin-bottom: 1.5rem;
          font-weight: bold;
      }
      label{
          font-size: 1.12em;
          text-align: center;
      }
      select, option {
          width: 100%;
          font-size: 1em;
      }
      input, textarea {
          width: 100%;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          font-size: 0.7em;
          outline: none;
          border: 1.5px solid #ccc;
          border-bottom-width: 2.2px;
          transition: 0.2s all ease-in;
          background-color: #e5e5e580;
      }
      input {
          padding: 1rem;
          border-radius: 7px;
      }
      input[type="text"]:focus,[type="Email"]:focus, textarea:focus, select:focus, option:focus {
          border-color: #eda5f3e3;
          background-color: white;
      }
      textarea {
          min-height: 10rem;
          max-height: 20rem;
          max-width: 100%;
          min-width: 100%;
          border-radius: 5px;
          margin-bottom: 2.5rem;
      }
      #botonEnviar {
          display: flex;
          justify-content: center;
      }  
      .form-boton-enviar {
          width: 100%;
          border-radius: 10px;
          background: #23a5f0a2;
          text-decoration: none;
          transition: .3s ease all;
          border: none;
          letter-spacing: 1px;
          font-weight: bold;
      }
      form #botonEnviar input:hover {
          cursor: pointer;
          background: #19a0ee;
          transform: translateY(-0.5rem);
          transition: .2s ease all;
      }
      #maps {
          width: auto;
          margin: auto;
          margin-bottom: 2rem;
      }
  }
  
  /*================== Tablet ================*/
  @media (min-width: 376px) and(max-width:768px) {
  }
  /*================== Desktop ================*/
  
  @media (min-width: 769px) {
  }
  