/*================== Colors ================*/
:root {
    --background-color-1: #F7CAE2; /*backgoround svg*/
    --background-color-2: #FAE4F0; /*item color*/
    --background-color-3: #000000; /*font*/
    /* --background-color-4: #226043; */
    --color-1: #f75078;
    --text-color-1: #8c3854;
    --text-color-1-strong: #63263a;
    --font-size-tablets:font-size:1.2em;
}
  
  /*================== Resets ================*/
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box;
  }
  #landing {
      display: flex;
      flex-direction: column;
      background-image: url(./assets/Vector.svg);
      background-size: contain;
      background-repeat: repeat-y;
      font-family: poppins;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /*================== Clases Aux ================*/
  .font-dancing {
    font-family: "Dancing Script", cursive;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
  .page-padding {
    padding: 3rem;
  }
  .bold{
    font-weight: bolder;
  }
  
  
  /*================== Mobile ================*/
  @media (max-width: 400px) {
    /*================== Nav ================*/
    #nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 0.4rem;
      padding-left: 0.4rem;
      height: 100%;
      margin-top: 1rem;
    }
    .nav__logo {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      color: #8C3854;  
    }
    .menu_items {
      list-style: none;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      font-size: 0.8rem;
      text-align: center;
    }

    .menu_items li {
      padding: 1rem;
    }

    .menu_items li a {
      text-decoration: none;
      font-size: 12px;
      color: black;
      font-weight: bolder;
    }
    .menu_items li a:hover {
      color: #8C3854;
      
    }
    /*================== Header ================*/
    header {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 2rem;
      align-items: center;
      margin-top: 3rem;
    }
    
    .header__info--text {
      margin-top: 1.8rem;
    }

    .header__info--button{
      padding: 20px;
      margin-top: 20px;
    }

    #button {
      background: #F75078;
      box-shadow: 3px 4px 4px rgba(34, 96, 67, 0.25);
      border-radius: 40px;
      padding: 12px;
      color: #FFFFFF;
      text-decoration: none;
    }

    #button:hover {
      transform: translateY(-0.5rem);
    }

    .header__img {
      width: 100%;
      height: 70%;
      margin-top: 1.5rem;
      border: 2.5px solid rgba(131, 86, 133, 0.685);
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 2rem;
    }

    /*================== SECTION ================*/
    /*================== article 1 ================*/
    .section__article--1{
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-1);
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      position: relative;
      padding-top: 7rem ;
      padding-bottom: 7rem ;
     
    }
    .section__article--1--img{
      width: auto;
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      margin-bottom: 3rem;
    }
    .section__article--1--title{
      font-weight: 500;
      font-size: 1.5rem;
      margin: 1.5rem 1rem;
      text-align: center;
    }
    .section__article--1--text{
      text-align: center;
      font-size: 1em;
    }
    /*================== article 2================*/
    .section__article--2{
      margin: 2rem 0;
    }
    .section__article--2 > p{
      padding: 7rem 3rem;
      /* clip-path: polygon(0 0, 5% 100%, 20% 80%, 100% 100%, 95% 0, 80% 20%); */
      background-color:#FE68B3;
      width: auto;
      margin: 2rem auto;
      text-align: center;
    }
    .section__article--2--text-1{
      
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
      
    }

    .section__article--2--text-2{
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

    }
    .section__article--2--img{
      width: 100%;
      
    }
    /*================== Items Container================*/
    #itemsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: poppins;
    }
    .itemsContainer__item{
        display: flex;
        flex-direction: column; 
        margin: .5rem;
        background-color: var(--background-color-2);
        border-radius: 5px;
        box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 160px;
    }
    .itemsContainer__item--head{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .itemsContainer__item--head--img{
        width: 130px;
        object-fit: contain;
        /* padding: .5rem; */
        border-radius: 5px;
    }
    .itemsContainer__item--body{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 1rem 1rem;
    }

    .itemsContainer__item--body--text-title{
        max-width: 70%;
        font-size: .8em;
        color:#425466;
      }
      .itemsContainer__item--body--icon{
        max-width: 30%;
        filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.2)) drop-shadow(0px 1px 3px rgba(50, 50, 71, 0.1));
        display: flex;
        padding: .5rem;
        background-color: #ffffff;
        align-self: center;
        border-radius: 50%;
      
    }
    .itemsContainer__item--body--icon > i  {
        text-align: center;
    }
    /*================== Testimonios================*/
    .testimonials{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #testimonials__cards--container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      /* luego hacer una animacion de slide y sacar el wrap */
    }
    .testimonials__title{
      color: var(--text-color-1-strong);
      font-weight: bolder;
      font-size: 2rem;
      margin: 4rem auto;
    }
    .testimonials__cards{
      width: 150px;
      background-color: #ffffff;
      margin: .5em;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      align-items: flex-start;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      border: 1px solid #DEDEDE;
    }
    .testimonials__cards--person{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .testimonials__cards--person--desc{
      display: flex;
      flex-direction: column;
      font-size: .7em;
      /* text-align:end; */
      margin-left: 20px;
    }
    .testimonials__cards--comment-text{
      font-size: .6em;
      padding: 1.5em 0;
      line-height: 20px;
    }
    .testimonials__cards--person-img{
      max-width: 50px;
      max-height: 50px; 
      align-self: center;
    }
    .testimonials__cards--person-name{
      color:#23A6F0;
      margin: auto;
      box-sizing: inherit;
    }
    .testimonials__cards--stars > i{
      color: #23A6F0;
      /* width: 10px; */
      font-size: 12px;
    }
   

    /*================== Newsletter================*/
    #newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
    }
    
    .newsletter__head--img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .newsletter__body{
      background-color: #252B42;
      width: 100%;
      border-radius: 0 0 10px 10px;
    }
    .newsletter__body--input-container{
      
      position: relative;
    }
    .newsletter__body--title{
      margin: 1rem;
      color: #ffffff;
    }
    .newsletter__body--label{
      right:0;
      top:50%;
      position: absolute;
      transform: translate(0,-50%);
      background-color: #19a0ee;
      padding: 8px;
      border-radius: 8px;
      overflow:hidden;
      color: #ffffff;
      /* font-size: 1em; */
    }
    
    
    #newsletter__input{
      margin: 0;
      border: none;
      
    }
    #newsletter__input::placeholder{
      color: #ffffffc5;
    }
    /*================== Footer ================*/
    /* common */
    .footer {
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-2);
      color: #000000;
      align-items: center;
      text-align: center;
    }
    .footer__title,
    .footer__text{
      margin-bottom: 1.5rem;
    }
    .footer__linkContainer,
    .footer__iconContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
    }
    /* steped */
    .footer__title {
      font-weight: bold;
      font-size: 1.5em;
      width: 100%;
    }
    .footer__text {
      color: #000000;
      font-weight: normal;
      font-size: 0.7em;
      line-height: 24px;
      letter-spacing: -0.231818px;
      opacity: 0.5;
    }
    .footer__linkContainer {
      margin-bottom: 2rem;
      justify-content: space-around;
    }
    .linkContainer__link {
      text-decoration: none;
      color: #000000;
      margin: 1rem .5rem;
      font-size: 0.9em;
      font-weight: 300;
    }
    .iconContainer__icon {
      color: #000000;
      font-size: 1.2rem;
    }
    /*================== Form & map ================*/
      #contacto {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }  
      form {
        width: 90%;
        margin: auto;
        background: white;
        border: 2.5px solid hsla(330, 75%, 62%, 0.384);
        padding: 1rem;
        margin-bottom: 2.5rem;
        border-radius: 5px;
      }
      form .form__title {
          text-align: center;
          margin: 0;
          font-size: 1.2em;
          margin-bottom: 1.5rem;
          font-weight: bold;
      }
      label{
          font-size: 1.12em;
          text-align: center;
      }
      select, option {
          width: 100%;
          font-size: 1em;
      }
      input, textarea {
          width: 100%;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          font-size: 0.7em;
          outline: none;
          border: 1.5px solid #ccc;
          border-bottom-width: 2.2px;
          transition: 0.2s all ease-in;
          background-color: #e5e5e580;
      }
      input {
          padding: 1rem;
          border-radius: 7px;
      }
      input[type="text"]:focus,[type="Email"]:focus, textarea:focus, select:focus, option:focus {
          border-color: #eda5f3e3;
          background-color: white;
      }
      textarea {
          min-height: 10rem;
          max-height: 20rem;
          max-width: 100%;
          min-width: 100%;
          border-radius: 5px;
          margin-bottom: 2.5rem;
      }
      #botonEnviar {
          display: flex;
          justify-content: center;
      }  
      .form-boton-enviar {
          width: 100%;
          border-radius: 10px;
          background: #23a5f0a2;
          text-decoration: none;
          transition: .3s ease all;
          border: none;
          letter-spacing: 1px;
          font-weight: bold;
      }
      form #botonEnviar input:hover {
          cursor: pointer;
          background: #19a0ee;
          transform: translateY(-0.5rem);
          transition: .2s ease all;
      }
      .information__map {
          display: flex;
          justify-content: center;
          height: 300px;
          margin-bottom: 2rem;
      }
  }
  
  /*================== TABLETS ================*/
  @media (min-width: 400px) and (max-width:768px) {
    /*================== Nav ================*/
    #nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      padding-right: 0.2rem;
      padding-left: 0.2rem;
      height: 100%;
    }
    .nav__logo {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      color: #8C3854;  
    }
    .menu_items {
      list-style: none;
      display: flex;
      justify-content: space-between;
      font-size: 0.8rem;
      text-align: center;
      padding: 0.5rem;
    }
    .menu_items li a {
      text-decoration: none;
      font-size: 12px;
      color: black;
      font-weight: bolder;
    }
    .menu_items li a:hover {
      color: #8C3854;
      
    }
    /*================== Header ================*/
    header {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 2rem;
      align-items: center;
      margin-top: 3rem;
    }
    
    .header__info--text {
      margin-top: 1.8rem;
    }

    .header__info--button{
      padding: 20px;
      margin-top: 20px;
    }

    #button {
      background: #F75078;
      box-shadow: 3px 4px 4px rgba(34, 96, 67, 0.25);
      border-radius: 40px;
      padding: 12px;
      color: #FFFFFF;
      text-decoration: none;
    }

    #button:hover {
      transform: translateY(-0.5rem);
    }

    .header__img {
      width: 100%;
      height: 70%;
      margin-top: 1.5rem;
      border: 2.5px solid rgba(131, 86, 133, 0.685);
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 2rem;
    }  
    
    /*================== Items Container================*/
      #itemsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: poppins;
    }
    .itemsContainer__item{
        display: flex;
        flex-direction: column; 
        margin: .5rem;
        background-color: var(--background-color-2);
        border-radius: 5px;
        box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 180px;
    }
    .itemsContainer__item--head{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .itemsContainer__item--head--img{
        width: 150px;
        object-fit: contain;
        /* padding: .5rem; */
        border-radius: 5px;
    }
    .itemsContainer__item--body{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 1rem 1rem;
    }

    .itemsContainer__item--body--text-title{
        max-width: 70%;
        font-size: .8em;
        color:#425466;
      }
      .itemsContainer__item--body--icon{
      max-width: 30%;
      filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.2)) drop-shadow(0px 1px 3px rgba(50, 50, 71, 0.1));
        display: flex;
        padding: .5rem;
        background-color: #ffffff;
        align-self: center;
        border-radius: 50%;
      
    }
    .itemsContainer__item--body--icon > i  {
        text-align: center;
    }
    /*================== Testimonios================*/
    .testimonials{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #testimonials__cards--container{
      display: flex;
     
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      /* luego hacer una animacion de slide y sacar el wrap */
    }
    .testimonials__title{
      color: var(--text-color-1-strong);
      font-weight: bolder;
      font-size: 2rem;
      margin: 4rem auto;
    }
    .testimonials__cards{
      width: 150px;
      background-color: #ffffff;
      margin: .5em;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      align-items: flex-start;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      border: 1px solid #DEDEDE;
    }
    .testimonials__cards--person{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .testimonials__cards--person--desc{
      display: flex;
      flex-direction: column;
      font-size: .7em;
      /* text-align:end; */
      margin-left: 20px;
    }
    .testimonials__cards--comment-text{
      font-size: .7em;
      padding: 1.5em 0;
      line-height: 20px;
    }
    .testimonials__cards--person-img{
      min-width: 40px;
      min-height: 40px; 
      align-self: center;
    
    }
    .testimonials__cards--person-name{
      color:#23A6F0;
      margin: auto;
      box-sizing: inherit;
    }
    .testimonials__cards--stars > i{
      color: #23A6F0;
      /* width: 10px; */
      font-size: 12px;
    }
      /*================== Newsletter================*/
      #newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
      }
      
      .newsletter__head--img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .newsletter__body{
        background-color: #252B42;
        width: 100%;
        border-radius: 0 0 10px 10px;
      }
      .newsletter__body--input-container{
        
        position: relative;
      }
      .newsletter__body--title{
        margin: 1rem;
        color: #ffffff;
      }
      .newsletter__body--label{
        right:0;
        top:50%;
        position: absolute;
        transform: translate(0,-50%);
        background-color: #19a0ee;
        padding: 8px;
        border-radius: 8px;
        overflow:hidden;
        color: #ffffff;
        /* font-size: 1em; */
      }
      
      
      #newsletter__input{
        margin: 0;
        border: none;
        
      }
      #newsletter__input::placeholder{
        color: #ffffffc5;
      }
    /*================== Form & map ================*/
    #contacto {
      display: flex;
      flex-direction: column;
      justify-content: center;
  }  
  form {
  width: 90%;
  margin: auto;
  background: white;
  border: 2.5px solid hsla(330, 75%, 62%, 0.384);
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 5px;
  }
  form .form__title {
      text-align: center;
      margin: 0;
      font-size: 1.2em;
      margin-bottom: 1.5rem;
      font-weight: bold;
  }
  label{
      font-size: 1.12em;
      text-align: center;
  }
  select, option {
      width: 100%;
      font-size: 1em;
  }
  input, textarea {
      width: 100%;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      font-size: 0.7em;
      outline: none;
      border: 1.5px solid #ccc;
      border-bottom-width: 2.2px;
      transition: 0.2s all ease-in;
      background-color: #e5e5e580;
  }
  input {
      padding: 1rem;
      border-radius: 7px;
  }
  input[type="text"]:focus,[type="Email"]:focus, textarea:focus, select:focus, option:focus {
      border-color: #eda5f3e3;
      background-color: white;
  }
  textarea {
      min-height: 10rem;
      max-height: 20rem;
      max-width: 100%;
      min-width: 100%;
      border-radius: 5px;
      margin-bottom: 2.5rem;
  }
  #botonEnviar {
      display: flex;
      justify-content: center;
  }  
  .form-boton-enviar {
      width: 100%;
      border-radius: 10px;
      background: #23a5f0a2;
      text-decoration: none;
      transition: .3s ease all;
      border: none;
      letter-spacing: 1px;
      font-weight: bold;
  }
  form #botonEnviar input:hover {
      cursor: pointer;
      background: #19a0ee;
      transform: translateY(-0.5rem);
      transition: .2s ease all;
  }

    /*================== Footer ================*/
    /* common */
    .footer {
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-2);
      color: #000000;
      align-items: center;
      text-align: center;
    }
    .footer__title,
    .footer__text{
      margin-bottom: 1.5rem;
    }
    .footer__linkContainer,
    .footer__iconContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
    }
    /* steped */
    .footer__title {
      font-weight: bold;
      font-size: 1.5em;
      width: 100%;
    }
    .footer__text {
      color: #000000;
      font-weight: normal;
      font-size: 1em;
      line-height: 24px;
      letter-spacing: -0.231818px;
      opacity: 0.5;
    }
    .footer__linkContainer {
      margin-bottom: 2rem;
      justify-content: space-around;
    }
    .linkContainer__link {
      text-decoration: none;
      color: #000000;
      margin: 1rem .5rem;
      font-size: 0.9em;
      font-weight: 300;
    }
    .iconContainer__icon {
      color: #000000;
      font-size: 1.2rem;
    }
  }
  /*================== Desktop ================*/
  
  @media (min-width: 769px) {
  }
  