/*================== Colors ================*/
:root {
    --background-color-1: #F7CAE2; /*backgoround svg*/
    --background-color-2: #FAE4F0; /*item color*/
    --background-color-3: #000000; /*font*/
    /* --background-color-4: #226043; */
    --color-1: #f75078;
    --text-color-1: #8c3854;
    --text-color-1-strong: #63263a;
    --font-size-tablets:font-size:1.2em;
    --font-size-desktop:font-size:1.5rem;
}
  
  /*================== Resets ================*/
  *,
  *::after,
  *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #landing {
    overflow-x: hidden;
      display: flex;
      flex-direction: column;
      background-image: url(./assets/Vector.svg);
      background-size: contain;
      background-repeat: repeat-y;
      font-family: poppins;
  }
  
  html {
    scroll-behavior: smooth;
  }

  /*================== Clases Aux ================*/
  .font-dancing {
    font-family: "Dancing Script", cursive;
  }
  .font-poppins {
    font-family: "Poppins", sans-serif;
  }
  .page-padding {
    padding: 3rem;
  }
  .bold{
    font-weight: bolder;
  }
 
  
  
  /*================== Mobile ================*/
  @media (max-width: 400px) {
    /*================== Burger ================*/
    .burger{
      position:fixed;
      background-color:transparent;
      right:10%;
      top:0;
      height:30px;
      width:30px;
      padding:20px 20px;
      -webkit-transform:translate3d(0, 0, 0);
      transform:translate3d(0, 0, 0);
      -webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
      transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
      z-index:1002;
      cursor:pointer;
      -webkit-user-select:none;
      -moz-user-select:none;
      -ms-user-select:none;
      user-select:none
    }
    .burger.is-active{
      background-color:none;
    }
    ._layer{
      background:#333333;
      margin-bottom:4px;
      border-radius:2px;
      width:28px;
      height:4px;
      opacity:1;
      -webkit-transform:translate3d(0, 0, 0);
      transform:translate3d(0, 0, 0);
      -webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
      transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    .burger:hover .-top{
      -webkit-transform:translateY(-100%);
      -ms-transform:translateY(-100%);
      transform:translateY(-100%);
    }
    .burger:hover .-bottom{
      -webkit-transform:translateY(100%);
      -ms-transform:translateY(100%);
      transform:translateY(100%);
      }
    .burger.is-active .-top{
      -webkit-transform:translateY(200%) rotate(45deg) !important;
      -ms-transform:translateY(200%) rotate(45deg) !important;
      transform:translateY(200%) rotate(45deg) !important;
    }
    .burger.is-active .-mid{
      opacity:0;
    }
    .burger.is-active .-bottom{
      -webkit-transform:translateY(-200%) rotate(135deg) !important;
      -ms-transform:translateY(-200%) rotate(135deg) !important;
      transform:translateY(-200%) rotate(135deg) !important;
    }
    
    .menu-burger.is_active{
      transform: translate3d(0px, 0px, 0px);
    }
    .menu-burger{
       background-color: rgba(255, 255, 255, 0.95);
        bottom: 0;
        height: 100%;
        left: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.35s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 100%;
        z-index: 1001;
    }
    .menu-burger ul{
      margin:0;padding:0;
    }
    .menu-burger ul li { 
      list-style: none;
      text-align:center;
      color:white;
      font-size:1.5rem;
      line-height:3em;
      height:3em;
      color:var(--text-color-1-strong);
      text-transform:none;
      font-weight:bold;
    }
    .menu-burger ul li a{
      text-decoration:none;
      color:var(--text-color-1);
    }
    .menu-burger ul li a:hover{
      text-decoration:none;
      color:#333;
    }
    /*================== Nav ================*/
    #nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-right: 0.4rem;
      padding-left: 0.4rem;
      height: 100%;
      margin-top: 1rem;
    }
    .nav__logo {
      font-size: 2rem;
      font-weight: bold;
      text-align: center;
      color: #8C3854;  
    }
    .menu_items {
      list-style: none;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
      font-size: 0.5rem;
      text-align: center;
    }

    .menu_items li {
      padding: 1rem;
    }

    .menu_items li a {
      text-decoration: none;
      font-size: 12px;
      color: black;
      font-weight: bolder;
    }
    .menu_items li a:hover {
      color: #8C3854;
      
    }
    /*================== Header ================*/
    header {
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      padding: 2rem;
      align-items: center;
      margin-top: 3rem;
      color: var(--text-color-1);
    }
    
    .header__info--text {
      margin-top: 1.8rem;
    }

    .header__info--button{
      padding: 20px;
      margin-top: 20px;
    }

    #button {
      background: #F75078;
      box-shadow: 3px 4px 4px rgba(34, 96, 67, 0.25);
      border-radius: 40px;
      padding: 12px;
      color: #FFFFFF;
      text-decoration: none;
    }

    #button:hover {
      transform: translateY(-0.5rem);
    }

    .header__img {
      width: 100%;
      height: 70%;
      margin-top: 1.5rem;
      border: 2.5px solid rgba(131, 86, 133, 0.685);
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 2rem;
      display: none;
    }

    /*================== SECTION ================*/
     /*================== article 1 ================*/
     .section__article--1{
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-1);
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      position: relative;
      padding-top: 7rem ;
      padding-bottom: 7rem ;
     
    }
    .section__article--1--img{
      width: auto;
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      margin-bottom: 3rem;
    }
    .section__article--1--title{
      font-weight: 500;
      font-size: 1.5rem;
      margin: 3rem auto;
      text-align: center;
      line-height: 45px;
    }
    .section__article--1--text{
      text-align: center;
      font-size: 1em;
    }
    /*================== article 2================*/
    .section__article--2{
      margin: 2rem 0;
    }
    .section__article--2--title{
      font-size: 1.7rem;
      color: var(--text-color-1-strong);
      text-align:  center ;
      font-weight: 500;
    }

    .section__article--2 > p{
      padding: 7rem 3rem;
      /* clip-path: polygon(0 0, 5% 100%, 20% 80%, 100% 100%, 95% 0, 80% 20%); */
      background-color:#FE68B3;
      width: auto;
      margin: 2rem auto;
      text-align: center;
    }
    .section__article--2--text-1{
      
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
      
    }

    .section__article--2--text-2{
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

    }
    .section__article--2--img{
      width: 100%;
      
    }
    /*================== Items Container================*/
    #itemsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-family: poppins;
    }
    .itemsContainer__item{
        display: flex;
        flex-direction: column; 
        margin: .5rem;
        background-color: var(--background-color-2);
        border-radius: 5px;
        box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 160px;
    }
    .itemsContainer__item--head{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .itemsContainer__item--head--img{
        width: 130px;
        object-fit: contain;
        /* padding: .5rem; */
        border-radius: 5px;
    }
    .itemsContainer__item--body{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 1rem 1rem;
    }

    .itemsContainer__item--body--text-title{
        max-width: 70%;
        font-size: .8em;
        color:#425466;
      }
      .itemsContainer__item--body--icon{
        max-width: 30%;
        filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.2)) drop-shadow(0px 1px 3px rgba(50, 50, 71, 0.1));
        display: flex;
        padding: .5rem;
        background-color: #ffffff;
        align-self: center;
        border-radius: 50%;
      
    }
    .itemsContainer__item--body--icon > i  {
        text-align: center;
    }
    /*================== Testimonios================*/
    .testimonials{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #testimonials__cards--container{
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      /* luego hacer una animacion de slide y sacar el wrap */
    }
    .testimonials__title{
      color: var(--text-color-1-strong);
      font-weight: bolder;
      font-size: 2rem;
      margin: 4rem auto;
    }
    .testimonials__cards{
      width: 150px;
      background-color: #ffffff;
      margin: .5em;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      align-items: flex-start;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      border: 1px solid #DEDEDE;
    }
    .testimonials__cards--person{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .testimonials__cards--person--desc{
      display: flex;
      flex-direction: column;
      font-size: .7em;
      /* text-align:end; */
      margin-left: 20px;
    }
    .testimonials__cards--comment-text{
      font-size: .6em;
      padding: 1.5em 0;
      line-height: 20px;
    }
    .testimonials__cards--person-img{
      max-width: 50px;
      max-height: 50px; 
      align-self: center;
    }
    .testimonials__cards--person-name{
      color:#23A6F0;
      margin: auto;
      box-sizing: inherit;
    }
    .testimonials__cards--stars > i{
      color: #23A6F0;
      /* width: 10px; */
      font-size: 12px;
    }
   

    /*================== Newsletter================*/
    #newsletter {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: fit-content;
      filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
    }
    
    .newsletter__head--img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .newsletter__body{
      background-color: #252B42;
      width: 100%;
      border-radius: 0 0 10px 10px;
    }
    .newsletter__body--input-container{
      
      position: relative;
    }
    .newsletter__body--title{
      margin: 1rem;
      color: #ffffff;
    }
    .newsletter__body--label{
      right:0;
      top:50%;
      position: absolute;
      transform: translate(0,-50%);
      background-color: #19a0ee;
      padding: 8px;
      border-radius: 8px;
      overflow:hidden;
      color: #ffffff;
      /* font-size: 1em; */
    }
    
    
    #newsletter__input{
      margin: 0;
      border: none;
      
    }
    #newsletter__input::placeholder{
      color: #ffffffc5;
    }
    /*================== Footer ================*/
    /* common */
    .footer {
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-2);
      color: #000000;
      align-items: center;
      text-align: center;
    }
    .footer__title,
    .footer__text{
      margin-bottom: 1.5rem;
    }
    .footer__linkContainer,
    .footer__iconContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
    }
    /* steped */
    .footer__title {
      font-weight: bold;
      font-size: 1.5em;
      width: 100%;
    }
    .footer__text {
      color: #000000;
      font-weight: normal;
      font-size: 0.7em;
      line-height: 24px;
      letter-spacing: -0.231818px;
      opacity: 0.5;
    }
    .footer__linkContainer {
      margin-bottom: 2rem;
      justify-content: space-around;
    }
    .linkContainer__link {
      text-decoration: none;
      color: #000000;
      margin: 1rem .5rem;
      font-size: 0.9em;
      font-weight: 300;
    }
    .iconContainer__icon {
      color: #000000;
      font-size: 1.2rem;
    }
    /*================== Form & map ================*/
      #information {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }  
      form {
        width: 90%;
        margin: auto;
        background: white;
        border: 2.5px solid hsla(330, 75%, 62%, 0.384);
        padding: 1rem;
        margin-bottom: 2.5rem;
        border-radius: 5px;
      }
      form .form__title {
          text-align: center;
          margin: 0;
          font-size: 1.2em;
          margin-bottom: 1.5rem;
          font-weight: bold;
      }
      label{
          font-size: 1.12em;
          text-align: center;
      }
      select, option {
          width: 100%;
          font-size: 1em;
      }
      input, textarea {
          width: 100%;
          margin-bottom: 0.5rem;
          margin-top: 0.5rem;
          font-size: 0.7em;
          outline: none;
          border: 1.5px solid #ccc;
          border-bottom-width: 2.2px;
          transition: 0.2s all ease-in;
          background-color: #e5e5e580;
      }
      input {
          padding: 1rem;
          border-radius: 7px;
      }
      input[type="text"]:focus,[type="Email"]:focus, textarea:focus, select:focus, option:focus {
          border-color: #eda5f3e3;
          background-color: white;
      }
      textarea {
          min-height: 10rem;
          max-height: 20rem;
          max-width: 100%;
          min-width: 100%;
          border-radius: 5px;
          margin-bottom: 2.5rem;
      }
      #botonEnviar {
          display: flex;
          justify-content: center;
      }  
      .form-boton-enviar {
          width: 100%;
          border-radius: 10px;
          background: #23a5f0a2;
          text-decoration: none;
          transition: .3s ease all;
          border: none;
          letter-spacing: 1px;
          font-weight: bold;
      }
      form #botonEnviar input:hover {
          cursor: pointer;
          background: #19a0ee;
          transform: translateY(-0.5rem);
          transition: .2s ease all;
      }
      .information__map {
          display: flex;
          justify-content: center;
          height: 300px;
          margin-bottom: 2rem;
      }
  }
  
  /*==================================  TABLETS ================================*/
  @media (min-width: 400px) and (max-width:768px) {
   /*================== Nav ================*/
   #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0.5rem;
    height: 100px;
   
  }
  .nav__logo {
    font-size: 2rem;
    font-weight: bold;
    color: #8C3854;
    text-align: center;  
    padding: 0.2rem;
  }
  .nav__links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .nav__link {
    text-decoration: none;
    font-size: 15px;
    margin: 0.7rem;
    font-weight: bolder;
    transition: 0.7 ease all;
  }
  .nav__links ul li:hover {
    transform: translateY(-0.2rem);
    transition: 0.3s ease all;
  }
  .nav__link:hover {
  color: #ec2c59ee;
  transition: 0.3s ease all;
  } 
    /*================== Header ================*/
    header,nav{
      background-color:var(--background-color-2);
    }
    .header__bg--bottom{
      height: 20vh;
      clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 100%);
      background-color: var(--background-color-2);
    
    }
    header {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      /* margin-top: 2rem; */
      color: var(--text-color-1);
    }   
    
    .header__info {
      padding-right: 1.5rem;
    }
    
    .header__info--title {
      font-size: 2rem;
      margin-top: 2rem;
    }

    .header__info--text {
      margin-top: 3rem;
      font-size: 1.2rem;
      
    }

    .header__info--button{
      padding: 2rem;
      margin-top:2rem;
    }

    #button {
      background: #F75078;
      box-shadow: 3px 4px 4px rgba(34, 96, 67, 0.25);
      border-radius: 40px;
      padding: 16px 25px;
      color: #FFFFFF;
      text-decoration: none;
    }

    #button:hover {
      transform: translateY(-0.5rem);
    }

    .header__img {
      width: 50%;
      height: 80%;
      margin-top: 1.5rem;
      border: 2.5px solid rgba(131, 86, 133, 0.685);
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 0.8rem;
      
    }  
    /*================== SECTION ================*/
    /*================== article 1 ================*/
    .section__article--1{
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-1);
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      position: relative;
      padding-top: 7rem ;
      padding-bottom: 7rem ;
      font-size: 1rem;

    }
    .section__article--1--img{
      width: auto;
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      margin-bottom: 3rem;
    }
    .section__article--1--title{
      font-weight: 500;
      font-size: 1.5rem;
      margin: 1.5rem 1rem;
      text-align: center;
    }
    .section__article--1--text{
      text-align: center;
      font-size: var(--font-size-tablets);
      line-height: 35px;
    }
    /*================== article 2================*/
    .section__article--2{
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
    }
    .section__article--2--title{
      font-size: 1.7rem;
      color: var(--text-color-1-strong);
      text-align:  center ;
      font-weight: 500;
    }
    .section__article--2--text-1, .section__article--2--text-2{
      padding: 7rem 5rem;
      /* clip-path: polygon(0 0, 5% 100%, 20% 80%, 100% 100%, 95% 0, 80% 20%); */
      background-color:#FE68B3;
      width: auto;
      margin: 4rem auto;
      text-align: center;
      line-height: 35px;
      font-size: var(--font-size-tablets);
    }
    .section__article--2--text-2{
      margin: 2rem 2rem 2rem 0;
      align-self: flex-start;
      padding-left: none;
      font-size: 1rem;
    }
    .section__article--2--text-1{

      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

    }

    .section__article--2--text-2{
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);

    }
    .section__article--2--img{
      width: 100%;

    }
    
    /*================== Items Container================*/
      #itemsContainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        font-family: poppins;
    }
    .itemsContainer__item{
        display: flex;
        flex-direction: column; 
        margin: .5rem;
        background-color: var(--background-color-2);
        border-radius: 5px;
        box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 180px;
    }
    .itemsContainer__item--head{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .itemsContainer__item--head--img{
        width: 150px;
        object-fit: contain;
        /* padding: .5rem; */
        border-radius: 5px;
    }
    .itemsContainer__item--body{
        display: flex;
        justify-content: space-between;
        margin: 0 1rem 1rem 1rem;
    }

    .itemsContainer__item--body--text-title{
        max-width: 70%;
        font-size: .8em;
        color:#425466;
      }
      .itemsContainer__item--body--icon{
      max-width: 30%;
      filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.2)) drop-shadow(0px 1px 3px rgba(50, 50, 71, 0.1));
        display: flex;
        padding: .5rem;
        background-color: #ffffff;
        align-self: center;
        border-radius: 50%;
      
    }
    .itemsContainer__item--body--icon > i  {
        text-align: center;
    }
    /*================== Testimonios================*/
    .testimonials{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    #testimonials__cards--container{
      display: flex;
     
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      /* luego hacer una animacion de slide y sacar el wrap */
    }
    .testimonials__title{
      color: var(--text-color-1-strong);
      font-weight: bolder;
      font-size: 2rem;
      margin: 4rem auto;
    }
    .testimonials__cards{
      width: 150px;
      background-color: #ffffff;
      margin: .5em;
      display: flex;
      flex-direction: column;
      padding: 1rem;
      align-items: flex-start;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      border: 1px solid #DEDEDE;
    }
    .testimonials__cards--person{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .testimonials__cards--person--desc{
      display: flex;
      flex-direction: column;
      font-size: .7em;
      /* text-align:end; */
      margin-left: 20px;
    }
    .testimonials__cards--comment-text{
      font-size: .7em;
      padding: 1.5em 0;
      line-height: 20px;
    }
    .testimonials__cards--person-img{
      min-width: 40px;
      min-height: 40px; 
      align-self: center;
    
    }
    .testimonials__cards--person-name{
      color:#23A6F0;
      margin: auto;
      box-sizing: inherit;
    }
    .testimonials__cards--stars > i{
      color: #23A6F0;
      /* width: 10px; */
      font-size: 12px;
    }
      /*================== Newsletter================*/
      #newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
      }
      
      .newsletter__head--img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .newsletter__body{
        background-color: #252B42;
        width: 100%;
        border-radius: 0 0 10px 10px;
      }
      .newsletter__body--input-container{
        
        position: relative;
      }
      .newsletter__body--title{
        margin: 1rem;
        color: #ffffff;
      }
      .newsletter__body--label{
        right:0;
        top:50%;
        position: absolute;
        transform: translate(0,-50%);
        background-color: #19a0ee;
        padding: 8px;
        border-radius: 8px;
        overflow:hidden;
        color: #ffffff;
        /* font-size: 1em; */
      }
      
      
      #newsletter__input{
        margin: 0;
        border: none;
        
      }
      #newsletter__input::placeholder{
        color: #ffffffc5;
      }
    /*================== Form & map ================*/
    #information {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
  }  
  form {
  width: 70%;
  margin: auto;
  background: white;
  border: 2.5px solid hsla(330, 75%, 62%, 0.384);
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 5px;
  }
  form .form__title {
      text-align: center;
      margin: 0;
      font-size: 1.2em;
      margin-bottom: 1.5rem;
      font-weight: bold;
  }
  label{
      font-size: 1.12em;
      text-align: center;
  }
  select, option {
      width: 100%;
      font-size: 1em;
  }
  input, textarea {
      width: 100%;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      font-size: 0.7em;
      outline: none;
      border: 1.5px solid #ccc;
      border-bottom-width: 2.2px;
      transition: 0.2s all ease-in;
      background-color: #e5e5e580;
  }
  input {
      padding: 1rem;
      border-radius: 7px;
  }
  input[type="text"]:focus,[type="Email"]:focus, textarea:focus, select:focus, option:focus {
      border-color: #eda5f3e3;
      background-color: white;
  }
  textarea {
      min-height: 10rem;
      max-height: 20rem;
      max-width: 100%;
      min-width: 100%;
      border-radius: 5px;
      margin-bottom: 2.5rem;
  }
  #botonEnviar {
      display: flex;
      justify-content: center;
  }  
  .form-boton-enviar {
      width: 100%;
      border-radius: 10px;
      background: #23a5f0a2;
      text-decoration: none;
      transition: .3s ease all;
      border: none;
      letter-spacing: 1px;
      font-weight: bold;
  }
  form #botonEnviar input:hover {
      cursor: pointer;
      background: #19a0ee;
      transform: translateY(-0.5rem);
      transition: .2s ease all;
  }

  .information__map {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-bottom: 2rem;
}
  .information__map--title{
    font-size: 1.5em;
    color: var(--text-color-1);
    text-align: center;
}
  .information__map--iframe{
    margin-bottom: none;
    width: 80vw;
    height: 80vh;
    margin: 2rem;
    border: 1px solid black;
}
    /*================== Footer ================*/
    /* common */
    .footer {
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-2);
      color: #000000;
      align-items: center;
      text-align: center;
    }
    .footer__title,
    .footer__text{
      margin-bottom: 1.5rem;
    }
    .footer__linkContainer,
    .footer__iconContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
    }
    /* steped */
    .footer__title {
      font-weight: bold;
      font-size: 1.5em;
      width: 100%;
    }
    .footer__text {
      color: #000000;
      font-weight: normal;
      font-size: 1em;
      line-height: 24px;
      letter-spacing: -0.231818px;
      opacity: 0.5;
    }
    .footer__linkContainer {
      margin-bottom: 2rem;
      justify-content: space-around;
    }
    .linkContainer__link {
      text-decoration: none;
      color: #000000;
      margin: 1rem .5rem;
      font-size: 0.9em;
      font-weight: 300;
    }
    .iconContainer__icon {
      color: #000000;
      font-size: 1.2rem;
    }
  }
  /*================================ Desktop ==============================*/
  
  @media (min-width: 769px) {
    /*================== Nav ================*/
    
   #nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 2.2rem;
   
  }
  .nav__logo {
    font-size: 3rem;
    font-weight: bold;
    color: #8C3854;
    text-align: center;  
    padding: 1rem;
  }
  .nav__links ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
  }
  .nav__link {
    text-decoration: none;
    font-size: 20px;
    margin: 2rem;
    font-weight: bolder;
    transition: 0.7 ease all;
  }

  .nav__links ul li:hover {
    transform: translateY(-0.2rem);
    transition: 0.3s ease all;
  }

  .nav__link:hover {
  color: #ec2c59ee;
  transition: 0.3s ease all;
  }  

    /*================== Header ================*/
    header,nav{
      background-color: var(--background-color-2);
    }
    header {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      align-items: center;
      color: var(--text-color-1);
      position: relative;

    }   
    
    .header__bg--bottom{
      filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.089));
      height: 15rem;
      clip-path: polygon(0 0, 100% 0%, 100% 0%, 0% 100%);
      background-color: var(--background-color-2);
  
    }
    .header__info {
      padding-right: 3rem;
    }
    
    .header__info--title {
      font-size: 2.3rem;
      margin-top: 2rem;
    }

    .header__info--text {
      margin-top: 3rem;
      margin-top: 3rem;
      font-size: 1.5rem;
      width: 80%;
      line-height: 50px;
    }
    .header__info--text,.header__info--title,#button{
      margin-left: 3rem;
    }

    .header__info--button{
      padding: 2rem;
      margin-top:2rem;
    }

    #button {
      background: #F75078;
      box-shadow: 3px 4px 4px rgba(34, 96, 67, 0.25);
      border-radius: 40px;
      padding: 16px 25px;
      color: #FFFFFF;
      text-decoration: none;
      border: none;
    }

    #button:hover {
      background-color: #ec1d4dee;
    }

    .header__img {
      width: 24rem;
      height: 28rem;
      /* border: 2.5px solid rgba(131, 86, 133, 0.685);
      border: 2.5px solid rgba(58, 163, 163, 0.685); */
      border: 2.5px solid rgba(131, 86, 133, 0.685);
      border-top-right-radius: 1rem;
      border-bottom-left-radius: 0.8rem;
      
    }  
    /*================== SECTION ================*/
    /*================== article 1 ================*/
    .section__article--1{
      display: flex;
      flex-direction: row;
      background-color: var(--background-color-2);
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      position: relative;
      padding-top: 7rem ;
      padding-bottom: 7rem ;
      font-size: 1.5rem;
      width: 100vw;
      align-items: center;
    }
    .section__article--1--img{
      min-width: 40vw;
      max-width: 50vw;
      min-height: 50vh;
      max-height: 60vh;
      border-top-right-radius: 5rem;
      border-bottom-left-radius: 5rem;
      
     
    }
    .section__article--1--title{
      font-weight: 500;
      font-size: 2.5rem;
      margin: 3rem 1rem;
      text-align: center;
    }
    .section__article--1--textContainer{
     width: 50%;
     padding: 2rem;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
    }
    .section__article--1--text{
      text-align: center;
      font-size: var(--font-size-tablets);
      line-height: 50px;
    }
    /*================== article 2================*/
    .section__article--2{
      margin: 2rem 0;
      display: flex;
      flex-direction: column;
      position: relative;
    }
    .section__article--2--title{
      font-size: 2.5rem;
      margin: 7rem;
      color: var(--text-color-1-strong);
      text-align:  center ;
      font-weight: 500;
    }
    .section__article--2--text-1, .section__article--2--text-2{
      padding: 10rem 10rem;
      background-color:#FE68B3;
      width: 65%;
  
      margin-bottom: 4rem;
      text-align: center;
      line-height: 45px;
      font-size: 1.4em;
      
    }
    .section__article--2--text-2{
      
      align-self: flex-end;
      padding-left: none;
    }
    .section__article--2--text-1{
      clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    }
    
    .section__article--2--text-2{
      clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);

    }
    .section-helper{
      display: flex;
      flex-direction: row-reverse;
      margin-bottom: 7rem;
      justify-content: space-between;
      align-items: center;
    }
    
    .section__article--2--img{
      width: 50vw;
      align-self: flex-end;
    }
    
    /*================== Items Container================*/
    #items__title{
      font-weight: bold;
    }
    #itemsContainer{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      font-family: poppins;
      width: 80vw;
      align-self: center;
      margin: 2rem 0;
    }
    .itemsContainer__item{
        display: flex;
        flex-direction: column; 
        margin: 1.5rem;
        background-color: var(--background-color-2);
        border-radius: 5px;
        box-shadow:  0px 4px 4px rgba(0, 0, 0, 0.25);
        width: 250px;
    }
    .itemsContainer__item--head{
        display: flex;
        justify-content: center;
        padding: 1rem;
    }
    .itemsContainer__item--head--img{
        width: 230px;
        object-fit: contain;
        /* padding: .5rem; */
        border-radius: 5px;
    }
    .itemsContainer__item--body{
        display: flex;
        justify-content: space-between;
        margin: 0 1.5rem 1.5rem 1.5rem;
    }

    .itemsContainer__item--body--text-title{
        max-width: 70%;
        font-size: 1em;
        color:#425466;
      }
      .itemsContainer__item--body--icon{
        max-width: 30%;
        filter: drop-shadow(0px 0px 1px rgba(12, 26, 75, 0.2)) drop-shadow(0px 1px 3px rgba(50, 50, 71, 0.1));
        display: flex;
        padding: .7rem;
        background-color: #ffffff;
        align-self: center;
        border-radius: 50%;
        
      }
      .itemsContainer__item--body--icon:hover{
        opacity: .9;
        background-color: var(--text-color-1);
        cursor:pointer;
        box-shadow: 4px 4px 5px rgb(95, 95, 95);
      }
    .itemsContainer__item--body--icon > i  {
        text-align: center;
    }
    /*================== Testimonios================*/
    .testimonials{
      display: flex;
      flex-direction: column;
      align-items: center;
  
    }
    #testimonials__cards--container{
      display: flex;
      width: 80vw;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 3rem;
      /* luego hacer una animacion de slide y sacar el wrap */
    }
    .testimonials__title{
      color: var(--text-color-1-strong);
      font-weight: bolder;
      font-size: 2.5rem;
      margin: 4rem auto;
    }
    .testimonials__cards{
      width: 250px;
      background-color: #ffffff;
      margin: 1rem;
      display: flex;
      flex-direction: column;
      padding: 1.5rem;
      align-items: flex-start;
      box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 5px;
      border: 1px solid #DEDEDE;
    }
    .testimonials__cards--person{
      display: flex;
      width: 100%;
      justify-content: space-between;
    }
    .testimonials__cards--person--desc{
      display: flex;
      flex-direction: column;
      font-size: 1.2em;
      /* text-align:end; */
      margin-left: 20px;
    }
    .testimonials__cards--comment-text{
      font-size: 1em;
      padding: 1.5em 0;
      line-height: 35px;
    }
    .testimonials__cards--person-img{
      min-width: 60px;
      min-height: 60px; 
      align-self: center;
    
    }
    .testimonials__cards--person-name{
      color:#23A6F0;
      margin: auto;
      box-sizing: inherit;
    }
    .testimonials__cards--stars > i{
      color: #23A6F0;
      /* width: 10px; */
      font-size: 12px;
    }
      /*================== Newsletter================*/
  #newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    /* height: fit-content; */
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.15));
  }
  .newsletter__title{

    font-size: 1.7em;
    font-weight: 500;
    margin: 5rem;
    color:var(--text-color-1);
  }
  
  .newsletter__head--img{
    width: 70%;
    height: 50%;
    object-fit: cover;
  }
  .newsletter__body{
    background-color: #252B42;
    width: 70%;
    border-radius: 0 0 10px 10px;
  }
  .newsletter__body--input-container{
    
    position: relative;
  }
  .newsletter__body--title{
    margin: 1rem;
    color: #ffffff;
  }
  .newsletter__body--label{
    right:0;
    top:50%;
    position: absolute;
    transform: translate(0,-50%);
    background-color: #19a0ee;
    padding: 8px;
    border-radius: 8px;
    overflow:hidden;
    color: #ffffff;
    /* font-size: 1em; */
  }
  
  
  #newsletter__input{
    margin: 0;
    border: none;
    
  }
  #newsletter__input::placeholder{
    color: #ffffffc5;
  }
    /*================== Form & map ================*/
  #information {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 5rem;
  }  
  .information__map--iframe{
    margin-bottom: none;
    width: 40vw;
    height: 60vh;
    margin: 2rem;
    border: 1px solid black;
  }
  .information__map{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
  }
  .information__map--title{
    font-size: 1.5em;
    color: var(--text-color-1);
    margin-top: 3rem;
  }
  .information__form{
    width: 40vw;
    margin: 2rem;
  }
  

  form {
  width: 100%;
  
  background: white;
  border: 2.5px solid hsla(330, 75%, 62%, 0.384);
  padding: 1rem;
  margin-bottom: 2.5rem;
  border-radius: 5px;
  }
  form .form__title {
      text-align: center;
      margin: 0;
      font-size: 1.2em;
      margin-bottom: 1.5rem;
      font-weight: bold;
  }
  label{
      font-size: 1.12em;
      text-align: center;
  }
  select, option {
      width: 100%;
      font-size: 1em;
  }
  input, textarea {
      width: 100%;
      margin-bottom: 0.5rem;
      margin-top: 0.5rem;
      font-size: 0.7em;
      outline: none;
      border: 1.5px solid #ccc;
      border-bottom-width: 2.2px;
      transition: 0.2s all ease-in;
      background-color: #e5e5e580;
  }
  input {
      padding: 1rem;
      border-radius: 7px;
  }
  input[type="text"]:focus,[type="Email"]:focus, textarea:focus, select:focus, option:focus {
      border-color: #eda5f3e3;
      background-color: white;
  }
  textarea {
      min-height: 10rem;
      max-height: 20rem;
      max-width: 100%;
      min-width: 100%;
      border-radius: 5px;
      margin-bottom: 2.5rem;
  }
  #botonEnviar {
      display: flex;
      justify-content: center;
  }  
  .form-boton-enviar {
      width: 70%;
      border-radius: 10px;
      background: #23a5f0a2;
      text-decoration: none;
      transition: .3s ease all;
      border: none;
      letter-spacing: 1px;
      font-weight: bold;
  }
  form #botonEnviar input:hover {
      cursor: pointer;
      background: #19a0ee;
      transform: translateY(-0.5rem);
      transition: .2s ease all;
  }
    /*================== Footer ================*/
    /* common */
    .footer {
      display: flex;
      flex-direction: column;
      background-color: var(--background-color-2);
      color: #000000;
      align-items: center;
      text-align: center;
    }
    .footer__title,
    .footer__text{
      margin-bottom: 1.5rem;
    }
    .footer__linkContainer,
    .footer__iconContainer {
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      flex-wrap: wrap;
    }
    /* steped */
    .footer__title {
      font-weight: bold;
      font-size: 2.5em;
      width: 100%;
    }
    .footer__text {
      color: #000000;
      font-weight: normal;
      font-size: 1.2em;
      line-height: 24px;
      letter-spacing: -0.231818px;
      opacity: 0.5;
    }
    .footer__linkContainer {
      margin-bottom: 2rem;
      justify-content: space-evenly;
    }
    .linkContainer__link {
      text-decoration: none;
      color: #000000;
      margin: 1rem .5rem;
      font-size: 1.3em;
      font-weight: 300;
    }
    .iconContainer__icon {
      color: #000000;
      font-size: 2rem;
      margin-top: 1rem;
      padding: 1rem;
    }
    .iconContainer__icon:hover{
      transform: translateY(-8px);
      transition: transform .5s  ease-out;
      color: var(--text-color-1);
    }

  }